.dashboard{
/* background-color: green; */

}
.dashboard>h3{
    text-align: left;
}

.dashboard-details{
display: flex;
justify-content: space-between;
}
.dashboard-details>div{
   
    flex: 0.3;
    max-width: 200px;
    background-color: #ffffff;
    border-radius: 5px;
}

.short-table-heading{
   margin: 0px;
   
}
.short-table-heading>h3{
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    padding: 0px;
}



.view-details{
    color: blue;
    font-weight: 100;
    font-size: 16px;
    padding: 20px;
}

.analytics{

}

.overview-analytics-bar-d{
    display: flex;
    /* background-color: white; */
    
}

.overview-analytics-bar-item-d{
background-color:white;
width:25%;
border-radius: 5px;
margin: 2px;
padding: 5px;
padding-left: 25px;

}


.overview-analytics-bar-item-d>h3{
    font-size: 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview-analytics-bar-item-d>h3>div{
    display: flex;
    gap: 10px;
 
}

.overview-analytics-bar-item-d>div{
    margin-right: 25px;
    font-size: 17px;
    font-weight: 600;
    text-align: start;
    text-align: center;
    /* background-color: red; */
}
.analytics-bar-item-update-d{
    font-size: 8px !important;
    color: green;
    display: flex;
    align-items: center;
    gap: 5px;
 

}
