.new-product-form{
  width: 99%;
    /* background-color: red; */
}

#product-image{

margin: auto;
}
#product-image>img{
  
width: 250px;
height: 250px;
  object-fit: cover;
}

#register-image> input::file-selector-button{
  background-color: rgb(150, 235, 150);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
 
}