.orders{
    text-align: left;
}

.orders>h3{

}

.orders-filter-bar{
background-color: white;
display: flex;
gap: 20px;
padding: 10px;
border: 1px;
border-style: solid;
border-color: #d3d3d3;
border-top: none;
border-right: none;
border-left: none;
}



.orders-list-menu{
    text-transform: capitalize;
    font-weight: bold;
    
   
}

.category-filter-bar{
    background-color: white;
    padding-left: 10px;
    border: 1px;
border-style: solid;
border-color: #d3d3d3;
border-top: none;
border-right: none;
border-left: none;
display: flex;
padding-bottom: 8px;
}



.search-bar{
    display: flex;
    align-items: center;
    align-items: center;
    width: 100%;
}

.search-bar>svg{
position: absolute;
margin-top: 5px;

}